/* айпад / 1024 / 768 */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){
    .screenorange{
        width: 45w;
        height: 40vw;
    }

    .intro {
        position: relative;
        height: 53vw;
        margin-top: 25px;
        margin-left: 25px;
    }

    .video1{
        width: 39vw;
        height: 22vw;
    }

    .video{
        position: absolute;
        top: 45px;
        margin-left: 100px;
    }

    .grafic{
        position: absolute;
    top: 43px;
    margin-left: 93px;
    }

    .grafic1{
        width: 40.5vw;
        height: 22.5vw;
    }

    .blackmenu{
        width: 18vw;
        height: 8vw;
    }

    .fullmenu {
        position: absolute;
        top: 40px;
        right: 270px;
    }

    .name1 {
        position: absolute;
        font-family: 'Neutral Face';
        font-size: 2.7vw;
        font-weight: 400;
        right: 270px;
        bottom: 25px;
        top: 0;
    }

    .name2 {
        position: absolute;
        font-family: 'Neutral Face';
        font-weight: 400;
        text-align: right;
        font-size: 1vw;
        right: 330px;
        top: 38px;
    }

    .menuone {
        position: absolute;
        top: 115px;
        right: 65px;
    }

    .before{
        width: 112vw;
        height: 72vw;
    }

    .lab {
        font-family: 'NeutralFaceBold';
        font-weight: 400;
        text-align: left;
        font-size: 1.8vw;
        position: absolute;
        bottom: 195px;
        left: 80px;
    }

    .data {
        font-family: 'NeutralFace';
        font-weight: 400;
        font-size: 1.8vw;
        display: flex;
        justify-content: space-between;
        width: 200px;
        position: absolute;
        bottom: 132px;
        left: 60px;
    }

    .place {
        font-family: 'Neutral Face';
        font-weight: 400;
        font-size: 1.5vw;
        position: absolute;
        bottom: 130px;
        left: 320px;
    }

    .introduction {
        margin-top: -80vh;
        margin-right: 20vw;
        text-align: right;
    }

    #img1 {
        position: absolute;
        top: 115px;
        right: 133px;
        width: 45vw;
        height: 31vw;
        }

    .proficamera {
        position: relative;
        height: 138vh;
        z-index: 2;
    }
        
    .center {
        margin-top: -13vh;
        width: 76vw;
        height: 56vw;
    }

    .profitext {
        text-align: center;
        position: absolute;
        top: -43px;
        left: -120px;
        width: 100%;
        font-size: 1vw;
    }

    .pants {
        position: absolute;
        left: 45px;
        top: 85px;
        width: 7vw;
        animation: moving 5s ease infinite;
    }
    
    .all1{
        width: 5.5vw;
        height: 5.5vw;
    }
    
    .guy {
        position: absolute;
        left: 25px;
        top: 185px;
        width: 10vw;
        animation: moving 5s ease infinite;
    }

    .all2{
        width: 9vw;
        height: 9vw;
    }

    .hand {
        position: absolute;
        left: 55px;
        top: 310px;
        width: 3vw;
        animation: moving 5s ease infinite;
    }

    .all3{
        width: 3vw;
        height: 3vw;
    }
    
    .camera {
        position: absolute;
        left: 55px;
        top: 370px;
        width: 4vw;
        animation: moving 5s ease infinite;
    }

    .all4{
        width: 3vw;
        height: 3vw;
    }

    .foot {
        position: absolute;
        right: 275px;
        top: 85px;
        width: 6vw;
        animation: moving 5s ease infinite;
    }

    .all5{
        width: 4vw;
        height: 4vw;
    }
    
    .hat {
        position: absolute;
        right: 275px;
        top: 185px;
        width: 6vw;
        animation: moving 5s ease infinite;
    }

    .all6{
        width: 4vw;
        height: 4vw;
    }

    .circle {
        position: absolute;
        right: 275px;
        top: 290px;
        width: 5vw;
        animation: moving 5s ease infinite;
    }

    .all7{
        width: 2vw;
        height: 2vw;
    }
    
    .man {
        position: absolute;
        right: 280px;
        top: 350px;
        width: 5vw;
        animation: moving 5s ease infinite;
    }

    .all8{
        width: 4vw;
        height: 4vw;
    }

    .katblue {
        position: relative;
        display: flex;
        justify-content: right;
        margin-right: 112px;
        z-index: 1;
    }

    .katuska1 {
        position: relative;
        margin-top: -80vh;
    }

    .kat1{
        width: 38vw;
        height: 13vw;
    }
    
    .lenta {
        transition: 1s all;
        left: 2px;
        position: absolute;
        top: -90px;
    }

    .len1{
        width: 64.5vw;
        height: 30vw;
    }
    
    .task1 {
        text-align: center;
        transition: 1s all;
        position: absolute;
        top: 49px;
        right: 548px;
        font-size: 1vw;
    }

    .boxes {
        margin-left: 15vw;
        margin-top: 2vw;
        display: flex;
        flex-direction: row;
        width: 45vw;
        justify-content: space-between;
    }

    .orange {
        cursor: pointer;
        background: #FD4B28;
        width: 5vw;
        height: 5vw;
        border-radius: 0.3vw;
    }
    
    .blue {
        cursor: pointer;
        background: #48E2DC;
        width: 5vw;
        height: 5vw;
        border-radius: 0.3vw;
    }
    
    .yellow {
        cursor: pointer;
        background: #FDC128;
        width: 5vw;
        height: 5vw;
        border-radius: 0.3vw;
    }
    
    .green {
        cursor: pointer;
        background: #00E400;
        width: 5vw;
        height: 5vw;
        border-radius: 0.3vw;
    }
    
    .pink {
        cursor: pointer;
        background: #EB00FF;
        width: 5vw;
        height: 5vw;
        border-radius: 0.3vw;
    }
    
    .darkblue {
        cursor: pointer;
        background: #000AFF;
        width: 5vw;
        height: 5vw;
        border-radius: 0.3vw;
    }

    .crowd {
        margin-left: 12.5vw;
        margin-top: 2vw;
        display: flex;
        flex-direction: row;
        width: 45vw;
        justify-content: space-between;
    }

    .png1{
        width: 25vw;
        height: 15vw;
    }

    .people1{
        width: 25vw;
        height: 15vw;
    }

    .katuska2 {
        margin-top: 15px;
        position: relative;
    }
    
    .katorange {
        position: relative;
        cursor: pointer;
        position: relative;
        z-index: 1;
    }

    .kat2{
        height: 52.5vw;
    }

    .lenta2-wrapper {
        position: absolute;
        top: 48px;
        left: 188px;
        overflow: hidden;
    }
    
    .lenta2-wrapper{
        position: relative;
        transition: 1s all;
        top: -623px;
   left: 101px;
    }

    .len2{
        width: 64.5vw;
        height: 30vw;
    }

    .task2 {
        transition: 1s all;
        text-align: center;
        position: absolute;
        text-align: center;
        top: 137px;
        left: 228px;
        font-size: 1vw;
    }

    .smallcamera {
        position: relative;
        margin-top: -690px;
        z-index: 2;
        margin-left: 55px;
    }

    .smcam{
        width: 64.5vw;
        height: 30vw;
    }

    .blackvideo {
        cursor: pointer;
        position: absolute;
        top: 45px;
        left: 522.5px;
    }

    .bb{
        width: 4vw;
        height: 4vw;
    }

    .blackleft {
        cursor: pointer;
        position: absolute;
        top: 250px;
        left: 350px;
    }

    .sm1{
        width: 10vw;
        height: 10vw;
    }

    .finaltext{
        font-family: 'Neutral Face';
        font-size: 1vw;
        margin-left: 3vw;
        margin-top: 10vh;
    }
    
    .lastimg{
        width: 15vw;
        height: 25vh;
        display: flex;
        justify-content: right;
        margin-left: 45vw;
        margin-top: -21vh;
        margin-block-end: 2vw;
    }
    
    .lasting1{
        width: 18vw;
        height: 28vh;
    }
}